**/.DS_Store

**/terraform/**/.terraform
**/terraform/**/traces
**/terraform/**/tfplan
**/terraform/**/terraform.tfstate
**/terraform/**/terraform.tfstate.backup
**/terraform/**/log.txt
**/terraform/**/.terraform.lock.hcl